extends layout

block content
  h1= title

  // 🔵 CREATE BUTTON (top of page)
  a(href="/costumes/create")
    button.btn.btn-success.mb-3 Create New Costume

  if results.length == 0
    h3 No costumes found
  else
    .container
      table.table.table-striped
        thead
          tr
            th Type
            th Size
            th Cost
            th Actions

        tbody
          each costume in results
            tr
              td #{costume.costume_type}
              td #{costume.size}
              td #{costume.cost}

              td
                a(href=`/costumes/detail?id=${costume._id}`)
                  button.btn.btn-info.btn-sm.mr-1 Detail

                a(href=`/costumes/update?id=${costume._id}`)
                  button.btn.btn-warning.btn-sm.mr-1 Update

                a(href=`/costumes/delete?id=${costume._id}`)
                  button.btn.btn-danger.btn-sm Delete