extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance found
  else
    - let costumeid = toShow._id
    - let costume_type = toShow.costume_type
    - let costumecost = toShow.cost
    - let costumesize = toShow.size
    - let actionid = "/resource/costumes/" + costumeid

    .container
      .card.p-3.shadow

        div.row.mb-2
          div.mr-2 ID:
          div #{costumeid}

        form(id='CostumeForm', action=actionid, method="POST")

          div.form-group
            label.costumeAttr(for='costume_type') Costume type
            input#costume_type(type='text', name='costume_type', value=costume_type)

          div.form-group
            label.costumeAttr(for='size') Costume size
            input#size(type='text', name='size', value=costumesize)

          div.form-group
            label.costumeAttr(for='cost') Costume cost
            input#cost(type='number', name='cost', value=costumecost)

          input.btn.btn-primary(type="submit", value="Update")

    script.
      document.forms['CostumeForm'].addEventListener('submit', (event) => {
        event.preventDefault();

        fetch("#{actionid}", {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target))
        })
        .then(async (resp) => {
          const text = await resp.text();

          if (!resp.ok) {
            throw new Error(text);
          }

          return text;
        })
        .then(() => {
          alert("Update succeeded");
          window.location.href = "/costumes";
        })
        .catch(err => {
          alert("Update failed: " + err.message);
        });
      });