extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance found
  else
    - let costumeid = toShow._id
    - let costume_type = toShow.costume_type
    - let costumecost = toShow.cost
    - let costumesize = toShow.size

    .container
      .card.p-3.shadow
        div.row
          div(class='costumeAttr mr-3') Costume ID:
          div #{costumeid}

        div.row
          div(class='costumeAttr mr-3') Costume Type:
          div #{costume_type}

        div.row
          div(class='costumeAttr mr-3') Costume Size:
          div #{costumesize}

        div.row
          div(class='costumeAttr mr-3') Costume Cost:
          div #{costumecost}