extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let costumeid = toShow._id
    - let costume_type = toShow.costume_type
    - let costumecost = toShow.cost
    - let costumesize = toShow.size
    - let actionid = "/resource/costumes/" + costumeid

    script.
      let actionid = "#{actionid}";

    .container
      .card.p-3.shadow

        div.row
          div(class='costumeAttr mr-3') Costume ID:
          div #{costumeid}

        div.row
          div(class='costumeAttr mr-3') Costume Type:
          div #{costume_type}

        div.row
          div(class='costumeAttr mr-3') Costume Size:
          div #{costumesize}

        div.row
          div(class='costumeAttr mr-3') Costume Cost:
          div #{costumecost}

        br

        button.btn.btn-danger.m-2(onclick="deleteOnid()") Delete
        button.btn.btn-secondary.m-2(onclick="cancel()") Cancel

    script.
      function cancel() {
        window.location.href = '/costumes';
      }

      function deleteOnid() {
        fetch(actionid, { method: 'DELETE' })
        .then(resp => resp.json())
        .then(() => {
          alert("Delete succeeded");
          window.location.href = '/costumes';
        })
        .catch(err => {
          alert("Delete failed " + err);
        });
      }